.about {
  .about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;

    .about-text {
      .section-title {
        text-align: left !important;
      }

      .morph-text {
        display: inline-block;
        transition: transform 0.5s ease, opacity 0.5s ease;
      }
    }

    .about-skills {
      h3 {
        font-weight: 700;
        margin-bottom: 20px;
        text-align: center;
      }

      .skills-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;

        .skill-icon {
          background: #e4e4e4;
          padding: 1rem;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

          svg {
            fill: #000 !important;
            font-size: 40px;
          }
        }
      }

      .about-skills-orbiting-circles {
        position: relative;
        width: 100%;
        height: 100%;

        .orbiting-circles-container {
          position: relative;
          width: 100%;
          height: 30rem;

          &:nth-child(2) {
            position: absolute;
            top: 0;
          }

          .orbiting-circle {
            position: absolute;
            top: 50%;
            left: 50%;
            width: var(--icon-size);
            height: var(--icon-size);
            margin: calc(var(--icon-size) / -2);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 45px;
            border-radius: 50%;
            animation: orbit var(--duration) linear infinite;
            transform: rotate(var(--angle)) translateY(var(--radius))
              rotate(calc(-1 * var(--angle)));

            svg {
              fill: black !important;
            }

            &.reverse {
              animation-direction: reverse;
            }
          }
        }
      }
    }
  }

  @media (max-width: 1350px) {
    .about-grid {
      grid-template-columns: 1fr;

      .btn {
        width: 100%;
        text-align: center;
        display: block;
        margin-top: 24px;
      }
    }
  }
  @media (max-width: 800px) {
    .about-grid {
      gap: 30px;

      .btn {
        margin-top: 14px;
      }

      .about-text {
        max-width: 100%;
      }

      .about-skills-orbiting-circles {
        display: none;
      }
    }
  }
}

@keyframes orbit {
  100% {
    transform: rotate(calc(var(--angle) + 360deg)) translateY(var(--radius))
      rotate(calc(-1 * (var(--angle) + 360deg)));
  }
}
