.form-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-input,
.dropdown,
.form-textarea {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 equal columns */
  grid-gap: 1.875rem !important;
}

.full-width {
  grid-column: span 2;
}

.checkbox-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three equal columns */
  gap: 10px;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  gap: 5px;
}
