.project-detail {
  padding: 0;
  display: block;
  min-height: 100% !important;
}
.project-header {
  color: white;
  background-color: black;
  padding: 25px;
  position: relative;

  .project-header-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      color: white;
    }
    button::before,
    button::after {
      border-color: white !important;
    }
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;
      button {
        align-self: flex-start;
      }
    }
    @media (max-width: 600px) {
      width: 80%;
      gap: 24px;
    }

    h1 {
      font-size: 24px;
    }
  }
}

.project-main {
  display: flex;
  gap: 40px;
  align-items: center;
  padding: 20px 0;

  @media (max-width: 1024px) {
    flex-direction: column;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 20px;
  }
}

.project-image {
  flex: 2;

  img {
    width: 100%;
    border-radius: 8px;
  }
}

.project-info {
  flex: 1;

  ul {
    list-style: none;
    padding: 0;

    li {
      margin: 10px 0;
    }
  }

  @media (max-width: 1024px) {
    width: 100%;
    text-align: center;
  }
}

.project-description {
  margin-top: 30px;
  text-align: left;

  @media (max-width: 1024px) {
    text-align: center;
  }
}

.project-footer {
  background-color: black;
  padding: 25px;
  position: fixed;
  bottom: 0;
  width: -webkit-fill-available;
}
.project-navigation {
  display: flex;
  justify-content: space-between;
  gap: 100px;

  button {
    color: white;
  }
  button::before,
  button::after {
    border-color: white !important;
  }
}
