.resume-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.resume-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Resume Items */
.resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid black;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: white;
    border: 2px solid black;
  }
  ul {
    padding-left: 20px;
  }
}

.italic-text {
  font-style: italic;
  color: #555;
}

@media (max-width: 768px) {
  .resume-grid {
    grid-template-columns: 1fr;
  }
}
