.scroll-to-top {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  background: #161b22;
  color: white;
  border: none;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.scroll-to-top.show {
  opacity: 1;
  transform: translateY(0);
}
