.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 270px;
  height: 100%;
  background: black;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
  z-index: 9999;

  &.closed {
    transform: translateX(-100%);
  }

  .profile-section {
    text-align: center;
    align-self: center;
    a {
      display: flex;
      align-items: center;
      width: 100px;
      height: 100px;
      img {
        max-width: 100%;
      }
    }
  }

  .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 32px;

    svg {
      font-size: 20px;
      cursor: pointer;
      transition: color 0.3s;

      &:hover {
        color: #198754;
      }
    }
  }

  .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;

    li {
      width: 100%;
      margin-bottom: 10px;

      button {
        display: flex;
        align-items: center;
        width: 100%;
        background: #161b22;
        color: white !important;
        font-size: 16px;
        border: none;
        padding: 12px;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease-in-out, transform 0.2s ease-in-out;

        &:hover,
        &.active,
        &:active {
          background: #1e293b;
          box-shadow: 0px 0px 10px #198754 !important;
          color: white;
        }

        svg {
          margin-right: 10px;
          font-size: 20px;
        }
      }
    }
  }
}

.mobile-menu-btn {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  background: #161b22;
  color: white;
  border: none;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
  z-index: 10000;
  display: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  @media (max-width: 1024px) {
    display: flex;
    align-items: center;
    svg {
      stroke: #fff;
    }
  }
}

@media (max-width: 1024px) {
  .sidebar {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;

    &.open {
      transform: translateX(0);
    }
  }
}
